/* CSS pour le projet JS*/

body{
	background-color: #b0afaf;
	color: white;
	font-family: Helvetica,Arial;
}

#centre{
	width: 310px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#map{
	width: 305px;
	height:320px;
}

#coords{text-align: left;}

#titre_marker{
	color: black;
}