@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot');
  src: url('../fonts/icomoon/icomoon.woff') format('woff'),
       url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/******** LIVE PAGE *******/
/*PLAYER VIDEO*/
#progressBar{width:80%;height:8px;border-radius:4px;border:1px solid #fff;position:absolute;bottom:20px;left:10%;opacity:.6;z-index:6;}
#progressBar span{border-top-left-radius:2px;border-bottom-left-radius:2px;height:6px;background-color:#fff;display:inline-block;position:absolute;top:1px;}

#progressBar .progress{z-index:7;}
#progressBar .buffer{opacity:.5;}

#button{position:absolute;top:41%;left:44%;z-index:2;height:200px;width:200px;border:10px solid #fff;border-radius:200px;opacity:.5;text-align:center;background:transparent;transition:opacity .2s ease, -webkit-transform .2s ease;}
#button.off{-webkit-transform:scale(4);opacity:0;}
#button.loading{-webkit-animation: loading 1s infinite linear;}
#button span{display:inline-block;height:100px;width:40px;background:#fff;margin:4em .5em 0 0;}

@-webkit-keyframes loading {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

/*VIDEO */
video{
	width: 100%;
}

#liste_live{

	margin: auto;
	width:60%;
	margin-top: 100px;

}

	#liste_live h5{
		text-align: center;
		padding-top:10px;
		font-size: 12px;
	}

.event{
	float: left;
	margin-left: 25px;
	margin-bottom: 25px;
	border: 0.2px solid #E7E7E7;
	border-radius: 5px;
	font-weight: 100;
	font-size: 10px;
}

#liste_live h3{	
	background-color: #E7E7E7;
	font-size: 12px;
	font-weight: 600;
	padding: 10px;
}

#liste_live h6{
	background-color: #E7E7E7;
	padding: 10px;
}

/***** FOOTER ****/
footer{
	width: 100%;
	height: 100%;
	background-color: #FFFFFF; 
	text-align: center;
	padding-top: 15px;
	clear: both;
	position:relative;
	bottom:0;
}

#copyright ul{
	font-size: 11px;
	font-weight: 100;
	clear: both;
	padding: 2% 0% 1% 0%;
}

#copyright ul li{
	display: inline-block;
	padding: 10px 10px;
}

#footer_content{
	margin: auto;
	width: 68.75%;
}

#pfw {
	display: block;
	float: left;
	width: 24.8%;
	text-align: left;
}

#pfw img{
	width: 100%;
}

#pfw p, #app p{
	font-weight: 100;
margin: 15px 0px 0px 7px;;
font-size: 14px;
color: #B4B4B4;
line-height: 1.3;
}

#app {
	display: block;
	float: left;
width: 35%;
margin: 6.4% 12.5% 0% 12.5%;
	text-align: left;
}

#app h3 {
	margin-left: 2%;
	font-weight: 100;
	text-transform: uppercase;
}

#app img{
	width: 30%;
margin: 4% 5% 0% 1.5%;
}

#social {
	text-align: left;
	display: block;
	float: left;
	width: 15%;
	margin-top: 6.4%;
}

#social ul li{
	padding-top: 6px;
}

#social p {
	font-weight: 100;
}

.icon{
	font-family: "icomoon";
}